@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.normal-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* sherd */
.arrow{
    background-color: orange;
    padding: 17px 22px;
    border-radius: 50%;
    font-size: 24px;
    color: #FFFFFF;
}
/* sherd */

/* header */

/* header */

/* navbar start */
.navbar{
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 11px;
}
.nav-logo > h2{
    font-size: 2rem;
    font-weight: 700;
}
.nav-items{
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 20px;
    font-weight: 500;
}
.nav-btn{
    background-color: orange;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 12px;
    border: none;
}
#nav-icon{
    display: none;
}
#marquee-title{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}
.line{
    display: none;
}
/* navbar end */
/* banner start */
.banner-container{
    max-width: 1158px;
    margin: 0 auto;
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    display: flex;
    gap: 50px;
    align-items: center;
}
.banner-title{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}
.banner-description{
    font-size: 20px;
    margin-bottom: 24px;
}
.banner-btn{
    background-color: black;
    color: white;
    padding: 10px 47px;
    font-size: 20px;
    border-radius: 12px;
    font-weight: 600;
}
.banner-img{
    width: 100%;
}
/* banner end *
/* cart start */
.cart-container{
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 60px;
    text-align: center;
}
.cart-container-title{
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
}
.cart-title{
    font-size: 1.5rem;
    color: #202020;
    margin-top: 44px;
    margin-bottom: 33px;
}
.cart{
    width: 368px;
    height: 476px;
    padding: 50px 40px;
    border-radius: 18px;
    background-image: linear-gradient(#DEF5FF,#FFFFFF);
    border-left: 1px solid #DEF5FF;
    border-right: 1px solid #DEF5FF;
    border-bottom: 1px solid #DEF5FF;
}
.cart-2{
    width: 368px;
    height: 476px;
    padding: 50px 40px;
    border-radius: 18px;
    background-image: linear-gradient(#FFF4DC,#FFFFFF);
    border-left: 1px solid #FFF4DC;
    border-right: 1px solid #FFF4DC;
    border-bottom: 1px solid #FFF4DC;
}
.cart-3{
    width: 368px;
    height: 476px;
    padding: 50px 40px;
    border-radius: 18px;
    background-image: linear-gradient(#EEE1FF,#FFFFFF);
    border-left: 1px solid #EEE1FF;
    border-right: 1px solid #EEE1FF;
    border-bottom: 1px solid #EEE1FF;
}
.cart-sub-container{
    display: flex;
    gap: 28px;
    margin: 0 auto;
}
.cart-description{
    font-size: 1rem;
    color: #808080;
    margin-bottom: 33px; 
}


/* cart end */

/* responsive section */
@media screen and (max-width: 576px) {
    /* nav start */
    .nav-logo > h2,
    .nav-btn,
    .nav-items{
        display: none;
    }
    .navbar{
        width: 80vw;
        margin-top: 12px;
    }
    #nav-icon{
        font-size: 3rem;
        display: block;
    }
    .line{
        display: block;
        color: orange;
        margin-top: 8px;
    }
    /* nav end */
    /* banner start */
    .banner-container{
        flex-direction: column-reverse;
        margin-left: 16px;
        margin-right: 17px;
        text-align: center;
    }
    .banner-title{
        font-size: 32px;
    }
    .banner-description{
        font-size: 14px;
    }
    /* banner end */
    /* cart start */
    .cart-container{
        background-image: url('../assets/bg.png');
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 40px;
        text-align: center;
    }
    .cart-sub-container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .cart-container-title{
        font-size: 24px;
        font-weight: 700;
        color: #000000;
    }
    .arrow-container{
        display: none;
    }
    /* cart end */
}
/* responsive section */