@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
  }
.normal-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* sherd */
.arrow{
    background-color: orange;
    padding: 17px 22px;
    border-radius: 50%;
    font-size: 24px;
    color: #FFFFFF;
}
/* sherd */

/* header */

/* header */

/* navbar start */
#navbar{
    display: flex;
    max-width: 1160px;
    padding-top: 10px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 11px;
}
.nav-logo > h2{
    font-size: 2rem;
    font-weight: 700;
}
.nav-items{
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 20px;
    font-weight: 500;
}
.nav-btn{
    background-color: orange;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 12px;
    border: none;
}
#nav-icon{
    display: none;
}
#marquee-title{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}
.line{
    display: none;
}
/* navbar end */
/* banner start */
.banner-container{
    max-width: 1158px;
    margin: 0 auto;
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 50px;
    align-items: center;
}
.banner-title{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 24px;
}
.banner-description{
    font-size: 20px;
    margin-bottom: 24px;
}
.banner-btn{
    background-color: black;
    color: white;
    padding: 10px 47px;
    font-size: 20px;
    border-radius: 12px;
    font-weight: 600;
}
.banner-img{
    width: 100%;
}
/* banner end *
/* cart start */
.cart-container{
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 60px;
    text-align: center;
}
.cart-container-title{
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
}
.cart-title{
    font-size: 1.5rem;
    color: #202020;
    margin-top: 44px;
    margin-bottom: 33px;
}
.cart{
    width: 368px;
    height: 476px;
    padding: 50px 40px;
    border-radius: 18px;
    background-image: linear-gradient(#DEF5FF,#FFFFFF);
    border-left: 1px solid #DEF5FF;
    border-right: 1px solid #DEF5FF;
    border-bottom: 1px solid #DEF5FF;
}
.cart-2{
    width: 368px;
    height: 476px;
    padding: 50px 40px;
    border-radius: 18px;
    background-image: linear-gradient(#FFF4DC,#FFFFFF);
    border-left: 1px solid #FFF4DC;
    border-right: 1px solid #FFF4DC;
    border-bottom: 1px solid #FFF4DC;
}
.cart-3{
    width: 368px;
    height: 476px;
    padding: 50px 40px;
    border-radius: 18px;
    background-image: linear-gradient(#EEE1FF,#FFFFFF);
    border-left: 1px solid #EEE1FF;
    border-right: 1px solid #EEE1FF;
    border-bottom: 1px solid #EEE1FF;
}
.cart-sub-container{
    display: flex;
    gap: 28px;
    margin: 0 auto;
}
.cart-description{
    font-size: 1rem;
    color: #808080;
    margin-bottom: 33px; 
}
/* cart end */
/* our store start */
.our{
    text-align: center;
}
.main-container{
    max-width: 100%;
    background-image: url("../assets/bg.png"),linear-gradient(rgba(255, 255, 255, 0),#FEA301);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px; 
}
.main-container > h2{
  text-align: center;
  margin-bottom: 80px;
  font-size: 48px;
  font-weight: 600;
}
.btn-container{
    text-align: center;
}
.our-btn{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px 61px;
    border-radius: 12px;
    border: none;
    margin-top: 80px;
    margin-bottom: 60px;
}
.store-container{
    max-width: 1165px;
    display: flex;
    gap: 18px;
   margin: 0 auto;
    position: relative;
}

.sub-cart{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 19px;
}
.cart-1{
    background-color: #FFFFFF;
    width: 540px;
    border-radius: 16px;
    overflow: hidden;
}
.cart-1-title{
    margin-top: 58px;
    margin-bottom: 47px;
    font-size: 24px;
    font-weight: 700;
    margin-left: 38px;
}
.cart-1-description{
    font-size: 15px;
    color: #666666;
    margin-bottom: 34px;
    margin-left: 38px;
}
.cart-btn-1{
    background-color: #3CD8E8;
    border-radius: 47px;
    padding: 15px 19px 14px 18px;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 600;
    position: absolute;
    left: 38px;
    top: 314px;
}
.sub-cart-1{
    background-color: #FFFFFF;
    width: 291px;
    height: 301px;
    border-radius: 16px;
    overflow: hidden;
    font-size: 15px;
    font-weight: 700;
    position: relative;
}
.sub-cart-1 > h3{
    margin-top: 38px;
    margin-left: 38px;
}
.sub-cart-btn-1{
    background-color: #95B226;
    color: #FFFFFF;
    border-radius: 47px;
    border: none;
    padding: 15px 19px 14px 18px;
    font-size: 1rem;
    position: absolute;
    left: 37px;
    top: 157px;
}
.sub-cart-btn-2{
    background-color: #5D58F0;
    color: #FFFFFF;
    border-radius: 47px;
    border: none;
    padding: 15px 19px 14px 18px;
    font-size: 1rem;
    position: absolute;
    left: 37px;
    top: 157px;
}
.sub-cart-btn-3{
    background-color: #95B226;
    color: #FFFFFF;
    border-radius: 47px;
    border: none;
    padding: 15px 19px 14px 18px;
    font-size: 1rem;
    position: absolute;
    left: 37px;
    top: 157px;
}
.sub-cart-btn-4{
    background-color: #95B226;
    color: #FFFFFF;
    border-radius: 47px;
    border: none;
    padding: 15px 19px 14px 18px;
    font-size: 1rem;
    position: absolute;
    left: 37px;
    top: 157px;
}


/* our store end */
/* footer start */
.footer{
    background-color: #01ACFD;
    color: #FFFFFF;
    max-width: 100%;
    display: flex;
    gap: 150px;
    justify-content: space-evenly;
    padding: 123px 228px 174px 140px;
}
.footer-logo{
    display: flex;
    align-items: center;
    line-height: 0.8;
    margin-bottom: 35px;
}
.footer-logo > img{
    width: 5.3rem;
}
.footer-logo > h2{
    font-size: 2.6rem;
}
.footer-about-title,.footer-keep-in-touch{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.footer-about-li{
    list-style: none;
    font-size: 1.25rem;
    line-height: 2;
}
.footer-group-logo{
    display: flex;
    gap: 10px;
}

/* footer end */

/* responsive section */
@media screen and (max-width: 576px) {
    /* nav start */
    .nav-logo > h2,
    .nav-btn,
    .nav-items{
        display: none;
    }
    #navbar{
        width: 80vw;
        margin-top: 12px;
    }
    #nav-icon{
        font-size: 3rem;
        display: block;
    }
    .line{
        display: block;
        color: orange;
        border: 1px solid orange;
        margin-top: 8px;
    }
    /* nav end */
    /* banner start */
    .banner-container{
        flex-direction: column-reverse;
        margin-left: 16px;
        margin-right: 17px;
        text-align: center;
    }
    .banner-title{
        font-size: 32px;
    }
    .banner-description{
        font-size: 14px;
    }
    /* banner end */
    /* cart start */
    .cart-container{
        background-image: url('../assets/bg.png');
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 40px;
        text-align: center;
    }
    .cart-sub-container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .cart-container-title{
        font-size: 24px;
        font-weight: 700;
        color: #000000;
    }
    .arrow-container{
        display: none;
    }
    /* cart end */
    /* our store start */
    .main-container{
        max-width: 100%;
        margin: 0 auto;
        margin-top: 20px; 
    }
    .main-container > h2{
      margin-bottom: 20px;
      font-size: 26px;
    }
    .cart-1{
       display: none;
    }
    .store-container{
        max-width: 358px;
        gap: 11px;
        margin: 0 auto;
        position: relative;
    } 
    .sub-cart{
        max-width: 358px;
        margin: 0 auto;
        grid-template-columns: repeat(2,1fr);
        gap: 11px;
    }
    .sub-cart-1{
        background-color: #FFFFFF;
        max-width: 173px;
        height: 179px;
        border-radius: 9px;
        overflow: hidden;
        font-size: 9px;
        font-weight: 700;
        position: relative;
    }
    .sub-cart-1 > img{
        width: 100%;
    }
    .sub-cart-1 > h3{
        margin-top: 25px;
        margin-left: 22px;
    }
    .sub-cart-btn-1,
    .sub-cart-btn-2,
    .sub-cart-btn-3,
    .sub-cart-btn-4{
        border-radius: 28px;
        padding: 11px 15px 11px 15px;
        font-size: 9px;
        left: 22px;
        top: 93px;
    }
    .our-btn{
        margin-top: 20px;
        font-size: 16px;
        background-color: #000000;
        padding: 10px 50px;
    }
    /* our store end */
    /* footer start */
    .footer{
        max-width: 100%;
        flex-direction: column;
        gap: 16px;
        
        padding: 65px 12px 60px 21px ;
    }
    /* footer end */
}
/* responsive section */